section.brands
    div.wrapper
        div.brands-box
            div#ser1.brands-one
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
            div#ser1.brands-one.hidden.brands-one-hidden
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
            div#ser1.brands-one.hidden.brands-one-hidden
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
                div.brands-photo
                    img(src='img/brands.png', alt="brands")
        button.btn.btn-brands Показать все