section.catalog-two
    div.wrapper
        div.grid
            div.grid-item.grid-item-title
                h2.title-h2 Вы недавно смотрели
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить