section.catalog
    div.wrapper
        div.grid
            div.grid-item.grid-item-title
                    h2.title-h2 Специальные предложения
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-catalog
                div.bg-white
                    div.thumb
                        img(src='img/chair.png', alt="Chair")
                        p.grid-title Парикмахерское кресло <br> «Норм» гидравлическое
                        p.grid-price 9 900 ₽
                        a.grid-btn(href="#") Купить
            div.grid-item.grid-item-left
                div.bg-pink
                    div.bg-pink-item
                        h3 Получайте бонусы и подарки
                        p Каждый месяц разыгрываем <br> 10 000 рублей для наших клиентов
                        input(type="email" placeholder="Введите e-mail")
                    div.bg-pink-item
                        img(src='img/email.svg', alt="Envelop")
            div.grid-item.grid-item-right
                div.bg-pink
                    div.bg-pink-item
                        h3 Заходите к нам
                        p Более 300 магазинов <br> по всей России
                        a.btn1(href="#") Карта магазинов
                    div.bg-pink-item
                        img(src="img/car.svg", alt="Car")
