header
    div.wrapper
        nav
            ul.nav
                li
                    a(href="#") Доставка
                li
                    a(href="#") Оплата
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Вопрос - ответ
                li
                    a(href="#") Контакты
    div.bg-white
        div.header
            div.wrapper
                div.header-top
                    div.logo
                        span.logo-image
                        span BEAUTY
                    div.header-info
                        i.icon
                        input(type="text", name="search", placeholder="Поиск")
                        span 8 (812) 123-45-67
                        button(type="button") Обратный звонок
            <hr>
                div.wrapper
                    div.header-bottom
                        ul.nav
                            li
                                a(href="#") Парикмахерская
                            li
                                a(href="#") Барбершоп
                            li
                                a(href="#") Маникюр
                            li
                                a(href="#") Педикюр
                            li
                                a(href="#") Массаж
                            li
                                a(href="#") Мебель
