.brands {
  padding-top: 99px;
}

.brands-box {
  background: #FFFFFF;
}

.brands-one {
  display: flex;
}

.brands-photo {
  width: 25%;
  display: flex;
  justify-content: center;
  padding: 35px 0;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}


.brands-line__two {
  border: 1px solid #EFEFEF;
  transform: rotate(180deg);
}
.btn {
  width: 100%;
  margin-top: 20px;
  color: #333333;
  background-color: #C4C4C4;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
}
.btn:hover {
  background-color: #828282;
}
@media (min-width: 1001px) {
  .btn {
    display: none;
  }
}
@media (max-width: 1000px) {
  .brands-one {
    flex-wrap: wrap;
  }
  .brands-photo {
    width: 49%;
  }
  .hidden {
    display: none;
  }
}
@media (max-width: 480px) {
  .brands-photo {
    width: 100%;
  }
}




