.footer-category {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__category {
  width: 22%;
}

.footer-title {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 30px;
}

.footer-line {
  border: 1px solid #EFEFEF;
  margin-bottom: 25px;
}

.tool-f {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
  text-decoration: none;
}

@media (max-width: 960px) {
  .footer-category {
    flex-wrap: wrap;
    padding: 60px 50px 0 50px;
  }
  .footer__category {
    width: 47%;
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .footer-category {
    flex-direction: column;
  }
  .footer__category {
    width: 97%;
  }
}