.footer-end {
  background: #EFEFEF;
}

.footer-end__main {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer-end__text {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.footer-end__politic {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

@media (max-width: 960px) {
  .footer-end__main {
    flex-direction: column;
    align-items: center;
  }
  .footer-end__text {
    margin-bottom: 10px;
  }
}