
.logo__mobail {
  margin-left:  100px;
  padding-top: 4px;
}

.second-two__mobail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.second-line__input__mobail {
  background: #EFEFEF;
  border-radius: 40px;
  height: 40px;
  width: 250px;
  outline: none;
  border: none;
  margin-top: 20px;
}

.phone__mobail {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.4;
  margin-top: 20px;
}

.second-line__button__mobail {
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 20px;
}

.second-line__main-menu__mobail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-line-menu__mobail {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.top-line-menu__mobail:hover {
  filter: brightness(0);
}

.line__mobail {
  width: 100%;
  border: 1px solid #EFEFEF;
  margin-top: 20px;
}