.second-line {
  display: flex;
  justify-content: center;
  padding: 0 12px;
}

.second-line__main-menu {
  width: 675px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.second__item {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

}
.second__item:hover {
  background-color: #E5E5E5;

}

@media (max-width: 760px) {
  .second-line__main-menu {
    flex-direction: column;
    align-items: center;
  }
  .second__item {

  }
}