doctype html
html(lang="en")
  head
    title  Beauty
  body
    include includes/header.pug
    include includes/banner.pug
    include includes/catalog.pug
    include includes/brands.pug
    include includes/catalog-two.pug
    include includes/footer.pug